.DS_Store
*.log
config/local.json
.bower-cache/*
.bower-registry/*
.bower-tmp/*
vendor/**/
node_modules/*
public/bower_components/*
.bower-cache/*
.bower-registry/*
.bower-tmp/*
public/dist/*
public/*.html
dist/*
.idea
uploads/*
tmp/
docker-compose.yml
Dockerfile
!docker/*
*.swp
profile.out
uploads
helloCoin/build/*
