<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="0">
	
		<title>DApp</title>

		<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
	</head>

	<body>
		<div id="app"></div>
		<script>window.__INITIAL_STATE__ = {}</script>
	</body>
</html>